<!-- navbar -->
<%- include('partials/admin/adminNav') %>

<div id="layoutSidenav">
    
    <!-- sidenav -->
    <%- include('partials/admin/adminsidenav') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4 text-white">Users</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item "><a class="text-light text-decoration-none" href="/admindashboard">Dashboard</a></li>
                </ol>
              
                <div class="card mb-4">
                    <div class="card-header">
                        
                        Registered Users
                    </div>
                    <%- include('partials/messages') %>
                    <div class="container mt-5 px-2">

                        <div class="mb-2 d-flex justify-content-between align-items-center">
                            
                          
                            
                        </div>
                        <div class="table-responsive">
                        <table class="table table-responsive table-borderless">
                            
                          <thead>
                            <tr class="bg-light">
                              
                              <th scope="col" width="10%">User ID</th>
                              <th scope="col" width="20%">First Name</th>
                              <th scope="col" width="20%">Last Name</th>
                              <th scope="col" width="20%">Email</th>
                              <th scope="col" width="20%">Phone Number</th>
                              <th scope="col" width="20%">plan</th>
                              <th scope="col" width="20%">Account Balance</th>
                              <th scope="col" width="20%">Mining Balance</th>
                              <th scope="col" width="20%">Total Balance</th>
                              <th scope="col" width="20%">Date Registered</th>
                              <th scope="col" width="20%">Update</th>
                              <th scope="col" width="20%">Delete</th>
                              
                            </tr>
                          </thead>
                      <tbody>
                        <% if (users != ''){%>

                           <% users.forEach((user, i)=>{%>
                            <tr>
                          
                              <td><%= i+ 1 %></td>
                              <td><%= typeof user.firstName != 'undefined'? user.firstName : '' %></td>
                              <td><%= typeof user.lastName != 'undefined'? user.lastName : '' %></td>
                              <td><%= typeof user.email != 'undefined'? user.email : '' %></td>
                              <td><%= typeof user.phoneNo != 'undefined'? user.phoneNo : '' %></td>
                              <form action="/updateuser" method="post">
                                <input type="hidden" name="id" value="<%=user._id%>">
                                <td><select name="plan" id="">
                                  <option value="<%= typeof user.plan != 'undefined'? user.plan : '' %>"><%= typeof user.plan != 'undefined'? user.plan : '' %></option>
                                  <option value="Basic">Basic</option>
                                  <option value="Standard">Standard</option>
                                  <option value="premium">Premium</option>
                                  
                                </select>
                              </td>
                              <td><input type="number" name="accBal" value="<%= typeof user.accountBalance != 'undefined'? user.accountBalance : '' %>"></td>
                              <td><input type="number" name="minBal" value="<%= typeof user.miningBalance != 'undefined'? user.miningBalance : '' %>"></td>
                              <td><input type="number" name="totalBal" value="<%= typeof user.totalBalance != 'undefined'? user.totalBalance : '' %>"></td>
                              <td><%= typeof user.createdAt != 'undefined'? formatDate(user.createdAt, 'ddd MMM Do YYYY | HH:mm:ss') : '' %></td>
                                                               
                              <td><button class="btn btn-warning w-10" type="submit">Update</button></td>
                              <td><a class="btn btn-danger" href="/deleteuser/<%=user._id%>">Delete</a></td>
                              </form>
                              
                            
                              
                            </tr>
                            <% }) %>
                          <%}%>
                        
                        
                          <!-- <tr>
                          
                            <td>3231</td>
                            <td>Withdraw Funds</td>
                            <td>1 Oct, 21</td>                                 
                            <td><i class="fa fa-check-circle-o text-danger"></i><span class="ms-1">failed</span></td>
                            <td class="text-end"><span class="fw-bolder">$25</span> <i class="fa fa-ellipsis-h  ms-2"></i></td>                       
                            <td><img src="assets/img/Dogecoin.png" width="25"> DOGE</td>
                            
                          </tr>
                          <tr>
                          
                            <td>3112</td>
                            <td>Upgrade</td>
                            <td>1 Oct, 21</td>                                 
                            <td><i class="fa fa-check-circle-o text-primary"></i><span class="ms-1">Pending</span></td>
                            <td class="text-end"><span class="fw-bolder">$24</span> <i class="fa fa-ellipsis-h  ms-2"></i></td>                       
                            <td><img src="assets/img/Bitcoin.png" width="25"> BTC</td>
                            
                          </tr>
                          <tr>
                          
                            <td>2321</td>
                            <td>Upgrade</td>
                            <td>1 Oct, 21</td>                                 
                            <td><i class="fa fa-check-circle-o text-success"></i><span class="ms-1">Paid</span></td>
                            <td class="text-end"><span class="fw-bolder">$24</span> <i class="fa fa-ellipsis-h  ms-2"></i></td>                       
                            <td><img src="assets/img/Bitcoin.png" width="25"> BTC</td>
                            
                          </tr>
                          <tr>
                          
                            <td>1212</td>
                            <td>Upgrade</td>
                            <td>1 Oct, 21</td>                                 
                            <td><i class="fa fa-check-circle-o text-success"></i><span class="ms-1">Paid</span></td>
                            <td class="text-end"><span class="fw-bolder">$24</span> <i class="fa fa-ellipsis-h  ms-2"></i></td>                       
                            <td><img src="assets/img/Bitcoin.png" width="25"> BTC</td>
                            
                          </tr> -->
                                
                          
                      </tbody>
                    </table>
                      
                      </div>
                        
                    </div>
                </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Global Exchange  Trading 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>