<!-- navbar -->
<%- include('partials/admin/adminNav') %>

<div id="layoutSidenav">
    
    <!-- sidenav -->
    <%- include('partials/admin/adminsidenav') %>
    <div id="layoutSidenav_content">
      <main>
        <div class="container mt-5 px-5" >

            

            <div class="container mt-5 px-5">

                <div class="col-md-12">
                

                
                    <div class="card p-3">
                        

                        <h6 class="text-uppercase">Add Token:</h6>
                        
                        <form action="/admindashboard/addcoin" method="post">
                                        <label  for="Network">Coin Name:</label>
                                        <input type="text" name="Name" class="form-control" placeholder="Coin" required>
                                        <label  for="Network">Networks:</label>
                                        <input type="text" name="Network" class="form-control" placeholder="Network" required>
                                        <label  for="Network">Address:</label>
                                        <input type="text" name="Address" class="form-control" placeholder="Address" required>
                                        <div class="mt-4 mb-4 d-flex justify-content-between">
                                            <button class="btn btn-success px-3" type="submit">Deposit</button>
                                        </div>


                        </form>
                       
                    </div>
              

                
                
            
                </div>

            
            </div>
            <div class="container-fluid px-4 mt-5">
                <% if(coins != ' '){%>
                    <% coins.forEach((coin, i)=>{ %>
            <div class="card mb-4">
                <div class="card-header">
                    <h2><%=coin.tokenName %></h2>                   
                </div>
                <div class="container mt-5 px-2">

                    <div class="table-responsive">
                    <table class="table table-responsive table-borderless">
                        
                      <thead>
                        <tr class="bg-light">
                            <th scope="col" width="5%">S/N</th>
                            <th scope="col" width="25%">Networks Name </th>
                            <th scope="col" width="25%">Networks Address</th>
                            <th scope="col" width="20%">Delete</th>

                        </tr>
                      </thead>
                        <tbody>
                            <% coin.networks.forEach((network, i)=>{ %>
                            <tr>
                                <td> <%= i + 1%></td>
                                <td><%= network.name%></td>
                                <td><%= network.address%></td>
                                <td><a href="/deletenetwork/<%=coin.tokenName%>/<%= network.name%>" class="btn btn-danger">Delete</a></td>
                            </tr>
                            <%})%>
                        </tbody>
                    </table>
                 
                  </div>
                    
                </div>
            </div>
            <%})%>

            <%}%>

            </div>
            

        </div>

        
    </main>

    </div>
</div>