<!-- navbar -->
<%- include('partials/admin/adminNav') %>

<div id="layoutSidenav">
    
    <!-- sidenav -->
    <%- include('partials/admin/adminsidenav') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Contacts Notification</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/admindashboard" class="text-light text-decoration-none">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="/admindashboard/contacts" class="text-light text-decoration-none" >Contacts</a></li>
                </ol>
                
               
                <div class="card mb-4">
                    <div class="card-header">
                        
                        Messages
                    </div>
                    <%- include('partials/messages') %>
                    <div class="container px-2 ">

                        <div class="table-responsive">
                        <table class="table table-responsive table-borderless">
                            
                          <thead>
                            <tr class="bg-light">
                              
                              <th scope="col" width="5%">S/N</th>
                              <th scope="col" width="15%">Full Name</th>
                              <th scope="col" width="15%">Email</th>
                              <th scope="col" width="15%">Phone Number</th>
                              <th scope="col" width="15%">Subject</th>
                              <th scope="col" class="text-center" width="40%"><span>Message</span></th>
                              <th scope="col" class="" width="20%"><span>Date Created</span></th>
                              <th scope="col" width="10%">Delete</th>
                              
                            </tr>
                          </thead>
                      <tbody>
                        <% if(contacts != '') {%>
                          <%contacts.forEach((contact, i)=>{ %>
                            <tr>
                              <td><%=i + 1%></td>
                              <td>
                                <%= typeof contact.name != 'undefined' ? contact.name : ''%>
                              </td>
                              <td>
                                <%= typeof contact.email != 'undefined' ? contact.email : ''%>
                              </td>
                              <td>
                                <%= typeof contact.phoneNo != 'undefined' ? contact.PhoneNo : ''%>
                              </td>
                              <td>
                                <%= typeof contact.subject != 'undefined' ? contact.subject : ''%>
                              </td>  
                              <td>
                                <%= typeof contact.message != 'undefined' ? contact.message : ''%>
                              </td>    
                              <td>
                                <%= typeof contact.createdAt != 'undefined' ? formatDate(contact.createdAt, 'ddd MMM Do YYYY | HH:mm:ss') : ''%>
                              </td>    
                              
                              <td>
                                <a class="btn btn-danger" href="/deletecontact/<%= contact._id%>">Delete</a>
                              </td>                       
                              
                              
                              
                            </tr>
                          <% })%>

                          <%}%>
                        
                  
                          
                      </tbody>
                    </table>
                      
                      </div>
                        
                    </div>
                </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Global Exchange  Trading 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>