<!-- Start preloader -->
<div id="preloader"></div>
<!-- End preloader -->

<!-- navbar -->
<%- include('partials/admin/nav') %>


<%- include('partials/messages') %>
<div id="layoutSidenav">
    
    <!-- sidenav -->
    <%- include('partials/admin/sidenav') %>

    <div id="layoutSidenav_content" >
        <main>
            
            <div class="container-fluid px-4 row">
               
                <h1 class="mt-4 text-white">Welcome Dave</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="col-xl-6  w-layout-grid"  style="width: auto ;">
                    
                    <div class="card mb-4" style="height: 7rem; background-color: rgb(198, 198, 198);">
                        <div class="card-header  " style="  border-bottom-left-radius: 5%;
                        border-bottom-right-radius: 5%; background-color: rgb(122, 123, 123);">
                            <i class="fas fa-chart-area me-1"></i>
                            Account Balance
                        </div>
                      <h2 style="text-align: center; padding-top: 1rem;"> $<%= typeof user.accountBalance != 'undefined' ? user.accountBalance  : 0 %></h2>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Referall Balance
                        </div>
                        <h2 style="text-align: center; padding-top: 1rem;"> $12</h2>
                      
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Mining Balance  
                        </div>
                        <h2 style="text-align: center; padding-top: 1rem;"> $<%= typeof user.miningBalance != 'undefined'  ? user.miningBalance : 0 %></h2>
                      
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Total Profit Made
                        </div>
                        <h2 style="text-align: center; padding-top: 1rem;"> $<%= typeof user.totalBalance != 'undefined' ? user.totalBalance : 0 %></h2>
                    </div>
                   
                </div>
                <div class="mt-4 mb-4 d-flex justify-content-between w-row">
                    <div class="w-col w-col-6">
                        <a class="btn  px-3" style="background-color: rgb(230, 120, 37);" href="/dashboard/deposit">
                            Deposit
                        </a>
                    
                </div>
                <br>
                <div class="w-col w-col-6" style="margin-left: 20px;">
                    <a class="btn btn-success px-3"  href="/dashboard/withdraw">Withdraw</a>
                </div>
            </div>
                <div class="row">
                    <div class=" col-md-6">
                        <div class="card bg-info text-white mb-4">
                            <div class="card-body font-weight-bold">ACTIVE PLAN</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <p class="display-6"><%= typeof user.plan != 'undefined' ? user.plan : 'You have no ACTIVE plan' %></p>
                                <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-3 col-md-6">
                        <div class="card bg-inactive text-white mb-4">
                            <div class="card-body">Standard Plan</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">UPGRADE PLAN</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-inactive text-white mb-4">
                            <div class="card-body">Premium Plan</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">UPGRADE PLAN</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-inactive text-white mb-4">
                            <div class="card-body">Global Plan</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">UPGRADE PLAN</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div> -->
                </div>
                
                        <div class="card my-5">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                 Chart
                            </div>
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container ">
                                <div id="tradingview_a8cae" style="height:300px ;"></div>
                                <div class="tradingview-widget-copyright" ><a href="https://www.tradingview.com/symbols/BTCUSD/?exchange=INDEX" rel="noopener" target="_blank"><span class="blue-text">BTCUSD Chart</span></a> by TradingView</div>
                                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                <script type="text/javascript">
                                    new TradingView.widget(
                                        {
                                        "autosize": true,
                                        "symbol": "INDEX:BTCUSD",
                                        "interval": "D",
                                        "timezone": "Etc/UTC",
                                        "theme": "dark",
                                        "style": "1",
                                        "locale": "en",
                                        "toolbar_bg": "#f1f3f6",
                                        "enable_publishing": false,
                                        "allow_symbol_change": true,
                                        "container_id": "tradingview_a8cae"
                                    }
                                    );
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                            
                        </div>
                   
                <div class="card mb-4">
                    <div class="card-header">
                        
                        Transaction History
                    </div>
                    <div class="container mt-5 px-2">

                        <div class="mb-2 d-flex justify-content-between align-items-center">
                            
                          
                            
                        </div>
                        <div class="table-responsive">
                            <table class="table table-responsive table-borderless">
                            
                                <thead>
                                  <tr class="bg-light">
                                    <th scope="col" width="5">S/N</th>
                                    <th scope="col" width="10%">Trans ID</th>
                                    <th scope="col" width="20%">Transaction Type</th>
                                    
                                    <th scope="col" width="20%">Status</th>
                                    <th scope="col" class="" width="20%">Amount</th>
                                    <th scope="col" width="20%">Gateway</th>
      
                                    <th scope="col" width="20%">Address</th>
      
                                    <th scope="col" width="20%">Network</th>
      
                                    <th scope="col" width="20%">Date</th>
                                  </tr>
                                </thead>
                                <tbody>
                              <% if (transactions != ''){%>
      
                                  <% transactions.forEach((transaction, i)=>{ %>
                                      <tr>
                                          <td><%= i + 1%></td>
                                          <td><%= typeof transaction.transactionID != 'undefined' ? transaction.transactionID : ''%></td>
                                          <td><%= typeof transaction.type != 'undefined' ? transaction.type : ''%></td>
                                                                           
                                          <% if (transaction.status === 'pending'){%>                        
                                              <td><i class="fa fa-check-circle-o text-warning"></i><span class="ms-1"><%= typeof transaction.status != 'undefined' ? transaction.status: ''%></span></td>
                                            <%}%>
                                            <% if (transaction.status === 'success'){%>                        
                                              <td><i class="fa fa-check-circle-o text-success"></i><span class="ms-1"><%= typeof transaction.status != 'undefined' ? transaction.status: ''%></span></td>
                                            <%}%>
                                            <% if (transaction.status === 'failed'){%>                        
                                              <td><i class="fa fa-check-circle-o text-danger"></i><span class="ms-1"><%= typeof transaction.status != 'undefined' ? transaction.status: ''%></span></td>
                                            <%}%>
                                          <td class="text-center"><span class="fw-bolder">$<%= typeof transaction.amount != 'undefined' ? transaction.amount: ''%></span> <i class="fa fa-ellipsis-h  ms-2"></i></td>   
                                          <td><img src="/assets/img/Bitcoin.png" width="25"><%= typeof transaction.gateway != 'undefined' ? transaction.gateway: ''%></td>    
                                          <td><%= typeof transaction.recieverAddress != 'undefined' ? transaction.recieverAddress: ''%></td>
                                          <td><%= typeof transaction.network != 'undefined' ? transaction.network: ''%></td>        
                                          <td><%= typeof transaction.createdAt != 'undefined' ? formatDate(transaction.createdAt, 'yyy_MMM_Do  HH:mm:ss'): ''%></td>           
                                          
                                          
                                        </tr>
                                  <%})%>
                              
                              <%}%>
                              <!-- <tr>
                                
                                  <td>1212</td>
                                  <td>Upgrade</td>
                                  <td>3 Feb, 21</td>                                 
                                  <td><i class="fa fa-check-circle-o text-success"></i><span class="ms-1">Paid</span></td>
                                  <td class="text-end"><span class="fw-bolder">$45</span> <i class="fa fa-ellipsis-h  ms-2"></i></td>                       
                                  <td><img src="assets/img/Ethereum.png" width="25"> ETH</td>
                                  
                                </tr>
                                <tr>
                                
                                  <td>3231</td>
                                  <td>Withdraw Funds</td>
                                  <td>1 Oct, 21</td>                                 
                                  <td><i class="fa fa-check-circle-o text-danger"></i><span class="ms-1">failed</span></td>
                                  <td class="text-end"><span class="fw-bolder">$25</span> <i class="fa fa-ellipsis-h  ms-2"></i></td>                       
                                  <td><img src="assets/img/Dogecoin.png" width="25"> DOGE</td>
                                  
                                </tr> -->
                                
                                      
                                
                            </tbody>
                            </table>
                      
                      </div>
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Global Exchange  Trading 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>