<!-- navbar -->
<%- include('partials/admin/adminNav') %>

<div id="layoutSidenav">
    
    <!-- sidenav -->
    <%- include('partials/admin/adminsidenav') %>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4 text-white">Transactions</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admindashboard" class="text-light text-decoration-none">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="/admindashboard/transactions" class="text-light text-decoration-none">Transactions</a></li>
            </ol>
          
            <div class="card mb-4">
                <div class="card-header">
                    
                    Transaction History
                </div>
                <div class="container mt-5 px-2">

                    <div class="mb-2 d-flex justify-content-between align-items-center">
                        
                      
                        
                    </div>
                    <div class="table-responsive">
                    <table class="table table-responsive table-borderless">
                        
                      <thead>
                        <tr class="bg-light">
                          <th scope="col" width="5">S/N</th>
                          <th scope="col" width="10%">Trans ID</th>
                          <th scope="col" width="20%">Transaction Type</th>
                          
                          <th scope="col" class="" width="20%">Amount</th>
                          <th scope="col" width="20%">Gateway</th>

                          <th scope="col" width="20%">Address</th>

                          <th scope="col" width="20%">Network</th>

                          <th scope="col" width="20%">Date</th>
                          
                          <th scope="col" width="20%">Status options</th>
                          <th scope="col" width="25%">Status</th>
                          <th scope="col" width="20%">Proof of payment</th>
                        </tr>
                      </thead>
                  <tbody>
                    <% if (transactions != ''){%>

                        <% transactions.forEach((transaction, i)=>{ %>
                          <% if (transaction.type === 'Deposit'){%>
                            <tr>
                                <td><%= i + 1%></td>
                                <td><%= typeof transaction.transactionID != 'undefined' ? transaction.transactionID : ''%></td>
                                <td><%= typeof transaction.type != 'undefined' ? transaction.type : ''%></td>
                                
                                <td class="text-left"><span class="fw-bolder">$<%= typeof transaction.amount != 'undefined' ? transaction.amount: ''%></span> <i class="fa fa-ellipsis-h  ms-2"></i></td>   
                                <td><img src="/assets/img/Bitcoin.png" width="25"><%= typeof transaction.gateway != 'undefined' ? transaction.gateway: ''%></td>    
                                <td><%= typeof transaction.recieverAddress != 'undefined' ? transaction.recieverAddress: ''%></td>
                                <td><%= typeof transaction.network != 'undefined' ? transaction.network: ''%></td>        
                                <td><%= typeof transaction.createdAt != 'undefined' ? formatDate(transaction.createdAt, 'yyy_MMM_Do  HH:mm:ss'): ''%></td>  
                                <td>
                                  <form action="/admindashboard/statusupdate" method="post">
                                    <input type="hidden" name="Id" value="<%= typeof transaction._id != 'undefined' ? transaction._id : ''%>">
                                    <input type="hidden" name="Address" value="<%= typeof transaction.recieverAddress != 'undefined' ? transaction.recieverAddress : ''%>">
                                    <input type="hidden" name="Amount" value="<%= typeof transaction.amount != 'undefined' ? transaction.amount : ''%>">
                                    <input type="hidden" name="Name" value="<%= typeof user.name != 'undefined' ? user.name : ''%>">
                                    <input type="hidden" name="Email" value="<%= typeof user.email != 'undefined' ? user.email : ''%>">
                                    <input type="hidden" name="Type" value="<%= typeof transaction.type != 'undefined' ? transaction.type : ''%>">
                                    <select name="statusUpdate" onchange="submit()">
                                      <option value="">Update Status</option>
                                      <option value="failed">Failed</option>
                                      <option value="success">Success</option>
                                      
                                    </select>
                                  </form>
                                </td>
                                
                                <% if (transaction.status === 'pending'){%> 
                                                        
                                  <td><i class="fa fa-check-circle-o text-warning white"></i><span class="ms-1"><%= typeof transaction.status != 'undefined' ? transaction.status: ''%></span></td>
                                <%}%>
                                <% if (transaction.status === 'success'){%>                        
                                  <td><i class="fa fa-check-circle-o text-success"></i><span class="ms-1"><%= typeof transaction.status != 'undefined' ? transaction.status: ''%></span></td>
                                <%}%>
                                <% if (transaction.status === 'failed'){%>                        
                                  <td><i class="fa fa-check-circle-o text-danger"></i><span class="ms-1"><%= typeof transaction.status != 'undefined' ? transaction.status: ''%></span></td>
                                <%}%>

                                <td><a href="/admindashboard/view/<%= typeof transaction.proofImg != 'undefined' ? transaction.proofImg : ''%>"><img style="width: 75px;" src="/uploads/transactions/<%= typeof transaction.proofImg != 'undefined' ? transaction.proofImg : ''%>" alt="proof of payment"></a></td>
                                
                                
                            </tr>
                            
                          <%}%>
                        <%})%>
                    
                    <%}%>
                        
                      
                  </tbody>
                </table>
                 
                  </div>
                    
                </div>
            </div>
    </main>

    <main>
      <div class="container-fluid px-4">
          <div class="card mb-4">
              <div class="card-header">
                  
                  Withdrawal Requests
              </div>
              <div class="container mt-5 px-2">

                  <div class="mb-2 d-flex justify-content-between align-items-center">
                      
                    
                      
                  </div>
                  <div class="table-responsive">
                  <table class="table table-responsive table-borderless">
                      
                    <thead>
                      <tr class="bg-light">
                        <th scope="col" width="5">S/N</th>
                        <th scope="col" width="10%">Trans ID</th>
                        <th scope="col" width="20%">Transaction Type</th>

                        <th scope="col" class="" width="20%">Amount</th>
                        <th scope="col" width="20%">Gateway</th>

                        <th scope="col" width="20%">Address</th>

                        <th scope="col" width="20%">Network</th>

                        <th scope="col" width="20%">Date</th>

                        <th scope="col" width="20%">Status options</th>
                                                
                        <th scope="col" width="20%">Status</th>
                      </tr>
                    </thead>
                <tbody>
                  <% if (transactions != ''){%>

                      <% transactions.forEach((transaction, i)=>{ %>
                        <% if (transaction.type === 'withdraw'){%>
                          <tr>
                              <td><%= i + 1%></td>
                              <td><%= typeof transaction.transactionID != 'undefined' ? transaction.transactionID : ''%></td>
                              <td><%= typeof transaction.type != 'undefined' ? transaction.type : ''%></td>
                                                               
                              
                              <td class="text-left"><span class="fw-bolder">$<%= typeof transaction.amount != 'undefined' ? transaction.amount: ''%></span> <i class="fa fa-ellipsis-h  ms-2"></i></td>   
                              <td><img src="/assets/img/Bitcoin.png" width="25"><%= typeof transaction.gateway != 'undefined' ? transaction.gateway: ''%></td>    
                              <td><%= typeof transaction.recieverAddress != 'undefined' ? transaction.recieverAddress: ''%></td>
                              <td><%= typeof transaction.network != 'undefined' ? transaction.network: ''%></td>        
                              <td><%= typeof transaction.createdAt != 'undefined' ? formatDate(transaction.createdAt, 'yyy_MMM_Do  HH:mm:ss'): ''%></td>  
                              <td>
                                <form action="/admindashboard/statusupdate" method="post">
                                  <input type="hidden" name="Id" value="<%= typeof transaction._id != 'undefined' ? transaction._id : ''%>">
                                  <input type="hidden" name="Address" value="<%= typeof transaction.recieverAddress != 'undefined' ? transaction.recieverAddress : ''%>">
                                  <input type="hidden" name="Amount" value="<%= typeof transaction.amount != 'undefined' ? transaction.amount : ''%>">
                                  <input type="hidden" name="Name" value="<%= typeof user.name != 'undefined' ? user.name : ''%>">
                                  <input type="hidden" name="Email" value="<%= typeof user.email != 'undefined' ? user.email : ''%>">
                                  <input type="hidden" name="Type" value="<%= typeof transaction.type != 'undefined' ? transaction.type : ''%>">
                                  <select name="statusUpdate" onchange="submit()">
                                    <option value="">Update Status</option>
                                    <option value="failed">Failed</option>
                                    <option value="success">Success</option>
                                    
                                  </select>
                                </form>
                              </td>     
                              
                              <% if (transaction.status === 'pending'){%>                        
                                <td><i class="fa fa-check-circle-o text-warning"></i><span class="ms-1"><%= typeof transaction.status != 'undefined' ? transaction.status: ''%></span></td>
                              <%}%>
                              <% if (transaction.status === 'success'){%>                        
                                <td><i class="fa fa-check-circle-o text-success"></i><span class="ms-1"><%= typeof transaction.status != 'undefined' ? transaction.status: ''%></span></td>
                              <%}%>
                              <% if (transaction.status === 'failed'){%>                        
                                <td><i class="fa fa-check-circle-o text-danger"></i><span class="ms-1"><%= typeof transaction.status != 'undefined' ? transaction.status: ''%></span></td>
                              <%}%>
                              
                              
                          </tr>
                        <%}%>
                      <%})%>
                  
                  <%}%>
                        
                    
                </tbody>
              </table>
                
                </div>
                  
              </div>
          </div>
  </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Global Exchange  Trading 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>