<!-- navbar -->
<%- include('partials/admin/nav') %>

<div id="layoutSidenav">
    
    <!-- sidenav -->
    <%- include('partials/admin/sidenav') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container mt-5 px-5" >

                <div class="mb-4">
    
                    <h2>Withdrawal Request</h2>
                <span>please make your request and await approval in minutes.</span>
                    
                </div>
    
                <div class="row">
    
                <div class="col-md-8">
                    
    
                    
                        <div class="card p-3">
                            
    
                            <h6 class="text-uppercase">Payment details</h6>
                            <form action="/dashboard/withdraw/gateway" method="post">
                                <label for="gateway">Choose Payment Gateway:</label>
                                <select class="form-control mb-4" onchange="submit()" required="required" name="Gateway" id="Gateway ">
                                    <option value="<%= typeof Gateway != 'undefined' ? Gateway: ''%>">
                                        <%= typeof Gateway != 'undefined' ? Gateway: ''%>
                                    </option>
                                    <option value="BTC">BTC</option>
                                    <option value="USDT">USDT</option>
                                    <option value="ETH">ETH</option>
                                    <option value="Solana">Solana</option>
                                </select>
                            </form>

                            <form action="/dashboard/withdraw/request" method="post">
                                <input type="hidden" name="Gateway"  value="<%= typeof Gateway != 'undefined' ? Gateway: ''%>">
                                <input type="hidden" name="Id"  value="<%= typeof user._id != 'undefined' ? user._id: ''%>">
                                <label  for="Network">Choose Network:</label>
                                <% if( typeof network != 'undefined'){ %>
                                    <select class="form-control mb-4" required="required" name="Network" id="Network">
                                                
                                        <% if( network != ' '){ %>
                                        <% network.forEach((network, i)=>{ %>
                                            <option value="<%= network.name%>"><%= network.name%></option>
                                        <% }) %>
                                        <%}%>
                                    </select>
                                <%}%>
                                <label for="Address"> <span class="text-danger">*</span> Enter Wallet Address: </label>
                                <input class="form-control mb-4" type="text" name="Address" id="Address" required>
                                <label for="Amount"> <span class="text-danger">*</span> Enter Amount: </label>
                                <input class="form-control mb-4" type="text" name="Amount" id="Amount" required>
                                <div class="mt-4 mb-4 d-flex justify-content-between">
                                    <button type="submit" class="btn btn-success px-3">Request</button>
                                    
                                </div>
                            </form>
                           

                            <p class="">Tips</p>
                            <p style="font-size:13px;">minimum withdrawal <span> $10</span></p> 
                            <p style="font-size:13px;">24h withdrawal <span> $500,000</span></p>
        
                        </div>
                  
    
                    
                    
                
                </div>
    
                <div class="col-md-4">
    
                    <div class="card card-blue p-3 text-white mb-3">
    
                       
                        <div class="d-flex flex-row align-items-end mb-3">
                            <h1 class="mb-0 yellow">Warning</h1> <span></span>
                        </div>
    
                        <p style="font-size: 15px; color:black;" >Do not withdraw directly to a crowfund or ICO. We will not credit your account with tokens from that sale.</p>

                        
    
                        <div class="hightlight">
    
                            <span>Ensure you withdraw to the right address as we will not be held liable for wrong addresses.</span>
                            
    
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
              
    
            </div>

         
        </div>
           
        </main>
        
    </div>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Global Exchange  Trading 2022</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>